<!DOCTYPE html>
<html>
    <head>
        <title>ClosedPond</title>
        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/bignumber.js@9.0.2/bignumber.min.js'></script>
        <script src="/static/fuck.js"></script>
    </head>
    <body>
        <h1>Welcome to ClosedPond</h1>
        <p>An """NFT""" """marketplace""" that """exists""".</p><br/>
        <p>your address: <span id="gaming">click the connect button</span></p>
        <button onclick="js.connectMetamask()">connect metamask or refresh address</button><br/>
        <button onclick="js.test()">test</button><br/>
        <button onclick="js.mintpiss()">mint pisscoin</button>
    </body>
</html>